<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EmotiSound{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="left-section">
                {% if show_back_button %}
                    <button class="back-btn icon" onclick="history.back()">
                        <img src="{{ url_for('static', filename='images/back.png') }}" alt="back button">
                    </button>
                {% endif %}
            </div>
            {% if show_user_header %}
            <div class="middle-section">                    
                {% include "components/mood_modal.html" %}
                {% include "components/edit_icon.html" %}
            </div>
            <div class="right-section">
                {% include "components/burger_menu.html" %}
            </div>
            {% endif %}
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% if page in ["main", "profile", "settings", "library", "share", "help"] %}
        <script type="module" src="{{ url_for('static', filename='js/dropdownMenu.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/updateMood.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.23.1"></script>
        <script type="module" src="{{ url_for('static', filename='js/mainControl.js') }}"></script>
    {% endif %}

    {% if page == "main" %}
        <script type="module" src="{{ url_for('static', filename='js/editMusic.js') }}"></script>
    {% endif %}
</body>
</html>