<div id="feedback-modal" class="feedback-modal hidden">
    <button id="feedback-close" class="feedback-close">✖</button>
  
    <div id="question-1" class="feedback-question">
      <p>Did you enjoy these tunes?</p>
      <button class="btn feedback-btn" data-question="1" data-answer="yes">Yes</button>
      <button class="btn feedback-btn" data-question="1" data-answer="no">No</button>
    </div>
  
    <div id="question-2" class="feedback-question hidden">
      <p>Did they fit your mood?</p>
      <button class="btn feedback-btn" data-question="2" data-answer="yes">Yes</button>
      <button class="btn feedback-btn" data-question="2" data-answer="no">No</button>
    </div>
  
    <div id="thank-you-message" class="hidden">
      <p>Thank you for your feedback!</p>
    </div>
  </div>
  