
{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="main-middle-section">
        {% include "components/edit_music.html" %}
        {% include "components/loading_screen.html" %}
        {% include "feedback.html" %}
    </div>

    <div class="controls-section">
        <!-- This is the Midi Playback Controls I am leaving it unhidden for testing --> 
        <div class="controls-container">
            <div class="song-title-container">
                <p class="song-title">Song Name</p>
            </div>
            <div class="controls">
                <div class="control-row">
                    <button id="favourite-btn" class="control-btn">
                        <img src="static/images/heart.png" alt="heart icon">
                    </button>
                    <button id="previous-btn" class="control-btn">
                        <img src="static/images/previous.png" alt="previous icon">
                    </button>
                    <button id="play-btn" class="control-btn play-btn" >
                        <img src="static/images/play.png" alt="play icon">
                    </button>
                    <button id="next-btn" class="control-btn">
                        <img src="static/images/next.png" alt="next icon">
                    </button>
                    <button id="repeat-btn" class="control-btn">
                        <img src="static/images/repeat.png" alt="repeat icon">
                    </button>
                </div>
            </div>
            <div class="volume-container">
                <span class="volume-icon">🔊</span>
                <input type="range" class="volume-slider" min="0" max="100" value="50">
            </div>
        </div>
        
        <div id="play-prompt" class="prompt-message hidden">
            <p class="prompt-text">Tap play to start the music</p>
        </div>

        <!-- Test Lyria Real Time Music-->
        <div class="music-controls">
            <audio id="lyria-audio" controls>
                <source type="audio/wav">
            </audio>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.39/Tone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.23.1"></script>

    <script type="module" src="{{ url_for('static', filename='js/edit_controls/editMusic.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/playback_controls/mainControl.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/edit_controls/playLyria.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/feedback.js') }}"></script>

{% endblock %}
