{% extends "base.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="question-container">
            <h1>{{ data.title }}</h1>
            <p>{{ data.subtitle }}</p>
            <form id="questionForm">
                {% for option in data.options %}
                <button type="button" class="option-btn" data-value="{{ option }}">{{ option }}</button>
                {% endfor %}
                <br>
                <button type="submit" class="continue-btn">
                    {% if data.title == "Which sound feels right to you?" %}
                        Generate Tune
                    {% else %}
                        Continue
                    {% endif %}
                </button>
            </form>
        </div>   
    </div>

    <div class="loadingScreen" style="display: none;">
        <div class="loader"></div>
        <h1>
            <span>GENERATING MUSIC . . .</span>
        </h1>
            
    </div>


    <script type="module" src="{{ url_for('static', filename='js/question.js') }}"></script>


{% endblock %}
